* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #9BBEDC;
    text-align: center;
    margin: 0px 50px;
    margin-bottom: 50px;
    box-shadow: 20px 30px 70px black
}

header h1 {
    font-size: 60px;
}

nav ul li {
    display: inline-block;
    font-family: 'Madimi One', sans-serif;
    margin-right: 20px;
    font-weight: 600;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
}  

body{
    background-color: #e6e6dd;
    text-align: center;  
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.productos div {
    display: flex;
    flex-direction: column;
}

.productos div img {
    width: 100%; 
    max-width: 100%;
}

.productos div h2 {
    text-align: center;
}

.ofertas {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.ofertas div {
    flex-basis: calc(33.33% - 10px); 
}

.ofertas img {
    width: 100%; 
    max-width: 100%; 
}

.ofertas h2 {
    text-align: center; 
}

.zapatos{
    height: 40vh;
}


footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    background-color: #9BBEDC;
}


@media screen and (max-width: 600px) {
    header{
        margin: 5px 10px;
        margin-bottom: 10px;
        box-shadow: none;
    }

    header h1{
        font-size: 40px;
    }

    nav ul li{        
        font-size: 20px;
    }

     .productos {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .productos div {
        margin-bottom: 20px; 
    }    

    .ofertas div {
        flex-grow: 1;
    }
}